streamlit
transformers
torch
pandas
matplotlib
wordcloud
nltk
newspaper4k
beautifulsoup4
requests
duckduckgo-search
lxml_html_clean
python-dotenv
sumy
streamlit
spacy
tabulate
sentencepiece
yfinance
pytrends
psycopg2
python-dotenv
scikit-learn
xgboost
urllib3==1.26.20
google-genai
fastapi 
uvicorn 
psycopg2-binary
langgraph
nest_asyncio
ipython
langchain-openai
langchain-core
pydantic
newsapi-python